#backLogin {
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

#backLogin p{
    cursor: pointer;
}

#backLogin p:hover {
    color: var(--text-hover);
}

.fa-arrow-left {
    font-size: 13px;
    padding: 5px 10px;
    cursor: pointer;
}