.text{
    margin-bottom: 35px !important;
}

#backLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

#backLogin p:hover {
    color: var(--text-hover);
}

.cursor-pointer{
    cursor: pointer;
}