<footer class="footer pt-lg-4" (click)="dropList()">
  <div class="container-fluid">

    <div class="row details">
      <div class="col-lg-4">
        <div class="logo">
          <img src="../assets/logo-dark.png" alt="logo">
          <h3 class="ms-2 mb-0">Bookvendor</h3>
        </div>
        <ul>
          <li class="text-details">
            Discover new books to read on your interests, reading history, and the recommendations of
            other users.
          </li>
        </ul>
      </div>

      <div class="col-lg-2 border-footer">
        <div class="list">
          <div class="arrow">
            <h6>Company</h6>
            <i class="fa fa-angle-down"></i>
          </div>
          <ul>
            <li class="link ">
              <a href="#" class="text-grey ">About Us </a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">Blog </a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">Contact </a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">Join Us </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 border-footer">
        <div class="list">
          <div class="arrow">
            <h6>Locations</h6>
            <i class="fa fa-angle-down"></i>
          </div>
          <ul>
            <li class="link">
              <a class="text-grey" href="#">Countries</a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">Regions </a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">Cities</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="list">
          <div class="arrow">
            <h6>Press Center</h6><i class="fa fa-angle-down"></i>
          </div>
          <ul>
            <li class="link">
              <a class="text-grey" href="#">news</a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">article</a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">blog</a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">review</a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">privacy policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom py-4 d-flex justify-content-between align-items-center flex-md-row flex-column">
      <p class="copyrights mb-0">&copy;&nbsp;2023 &nbsp;<span>Bookvendor.com</span></p>
      <div class="social-network">
        <a href="#"><i class="fa-solid mx-2 fa-envelope"></i></a>
        <a href="#"><i class="fa-brands mx-2 fa-facebook"></i></a>
        <a href="#"><i class="fa-brands mx-2 fa-instagram"></i></a>
        <a href="#"><i class="fa-brands mx-2 fa-telegram"></i></a>
        <a href="#"><i class="fa-brands mx-2 fa-youtube"></i></a>
      </div>
    </div>
  </div>
</footer>