<div class="parent">
  <div class="container">
    <div class="py-5">
      <div class="content  px-4 py-5 m-0 g-2">
        <div class="profile-content">
          <img src="../../../../assets/logo-dark.png" alt="">
          <div class="px-5">
            <h2>Abeer Aly</h2>
            <p style="color: #7E858B;">{{userData.email}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row py-4">
      <div class="col mb-3 mb-sm-0 child d-flex flex-column" routerLink="/admin/profile/editProfile">
        <div class="icon">
          <i class="fa-solid fa-user-gear fa-2xl"></i>
        </div>
        <div class="text">Edit Profile</div>
      </div>

      <div class="col mb-3 mb-sm-0 child d-flex flex-column" routerLink="/admin/books">
        <div class="icon">
          <i class="fa-solid fa-book fa-2xl"></i>
        </div>
        <div class="text">Books</div>
      </div>

      <div class="col mb-3 mb-sm-0 child d-flex flex-column" routerLink="/admin/charts">
        <div class="icon">
          <i class="fa-solid fa-chart-simple fa-2xl"></i>
        </div>
        <div class="text">Charts</div>
      </div>
      <div class="col mb-3 mb-sm-0 child d-flex flex-column" routerLink="/admin/users">
        <div class="icon">
          <i class="fa-solid fa-user fa-2xl"></i>
        </div>
        <div class="text">Users</div>
      </div>
    </div>
  </div>
</div>
