<nav class="navbar navbar-expand-lg navbar-color px-3 px-sm-5">

  <div class="position-fixed dark-icon" (click)="toggleTheme()"><i class="fa-solid fa-circle-half-stroke"></i></div>

  <a class="navbar-brand d-flex align-items-center ps-lg-5 ps-md-3 ps-0" routerLink="/admin/profile">
    <img src="../../../assets/logo-dark.png" width="40" height="100%" class="d-inline-block" alt="logo">
    <h4 class="my-0 mx-2">
      <span style="color:var(--text-logo-color)">book</span>
      <span style="color:var(--secondary-color)">vendor</span>
    </h4>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
    <i class="fa-solid fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse mx-3 mx-sm-5 justify-content-between" id="navbarNavDropdown">
    <ul class="navbar-nav general-ul">

      <li class="nav-item dropdown p-lg-3 py-1">
        <a class="nav-link dropdown-toggle" id="navbarDropdownServices" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Books
        </a>
        <div class="dropdown-menu py-lg-2 py-0" aria-labelledby="navbarDropdownServices">
          <a class="dropdown-item ps-lg-3 pe-lg-5 px-0 py-3" routerLink="/admin/books">
            All Books
          </a>
          <a class="dropdown-item ps-lg-3 pe-lg-5 px-0 py-3" routerLink="/admin/freeBook">
            Free Books
          </a>
          <a class="dropdown-item ps-lg-3 pe-lg-5 px-0 py-3" routerLink="/admin/paidBook">
            paid Books
          </a>
          <a class="dropdown-item ps-lg-3 pe-lg-5 px-0 py-3" routerLink="/admin/addBook">
            Add Book
          </a>
        </div>
      </li>
      <li class="nav-item dropdown p-lg-3 py-1">
        <a class="nav-link dropdown-toggle" id="navbarDropdownServices" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Users
        </a>
        <div class="dropdown-menu py-lg-2 py-0" aria-labelledby="navbarDropdownServices">
          <a class="dropdown-item ps-lg-3 pe-lg-5 px-0 py-3" routerLink="/admin/users">
            All Users
          </a>
          <a class="dropdown-item ps-lg-3 pe-lg-5 px-0 py-3" routerLink="/admin/users/verifiedUsers">
            Verified Users
          </a>
          <a class="dropdown-item ps-lg-3 pe-lg-5 px-0 py-3" routerLink="/admin/users/notVerifiedUsers">
            Not Verified Users
          </a>
        </div>
      </li>
      <li class="nav-item p-lg-3 py-1" routerLink="/admin/charts">
        <a class="nav-link">Charts</a>
      </li>
      <li class="nav-item p-lg-3 py-1">
        <a class="nav-link">About</a>
      </li>

      <li class="nav-item p-lg-3 py-1">
        <a class="nav-link">Contact</a>
      </li>
    </ul>

    <ul class="navbar-nav auth-ul align-items-lg-center justify-content-lg-between">
      <li class="nav-item px-lg-3 py-2 my-1" *ngIf="checkNav()" id="profile" routerLink="/admin/profile/editProfile">
        Profile
      </li>
      <li class="nav-item px-lg-3 py-2 my-1 selected" *ngIf="checkNav()" (click)="logout()">
        Logout
      </li>
    </ul>
  </div>
</nav>